.topnav {
  background-color: #E0E0E0;
  height: 50px;
  text-align: left;
  font-size: 20px;
}
.line {
  display: inline-flex;
  padding: 10px;
}
.logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  float: left;
}
.list ul {
  margin: 0 auto;
}
.list {
  display: inline-flex;
}
.item {
  padding: 10px;
}
.menu {
  float: right;  
  text-align: center;
}
.menu a:hover {
  background-color: #FFFFFF;
  color: black;
}
.sub {
  text-align: center;
}
body {
  text-align: center;
}
header {
  height: 180px;
  background-color: #FFB226;
  text-align: center;
}

.outer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 200px;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
	margin: 0 auto;
}
.inner {
	display: block;
	margin: 5px;
	width: 40%;
	border: 2px solid gray;
	background-color: #CCE5FF;

}
.button {
  background-color: #FFFFCC;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

  @media (max-width: 1200px) {
	  .outer,
	  .list {
	    display: flex;
	  }
